/* 
    atom's color 
    #50BA7F dark green
    #96D38F light green
    #EBF0EF almost white
*/

body {
    background-color: #96D38F;
    font-family: 'Helvetica Neue', 'Calibri', 'Sans-serif';
    font-size: 22px;
    font-weight: light;
}
p {
    line-height: 1.5;
}

header {
    color: #00d15e;
    text-shadow: 1px 1px black;
    height: 300px;
    padding-top: 100px;
    margin:0px;
    /* background-color: pink; */
    background-image: url(images/atom-character.png);
    background-size: cover;
    background-position: center;
}
header h1 {
    /* height:300px; */
    /* width: auto; */
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #a6cfa19a;
    text-align: center;
    /* position: relative; */

    /* min-height: 10em;
    display: table-cell; */
    /* vertical-align: middle; */
}

.topnav {
    width: 100%;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    padding: 0 5px;
    background-color: rgb(0, 0, 0);
    /* overflow: hidden; */
    box-shadow: 0;
    transition: box-shadow 1s;
    transition: color 1s;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
#sublime-link:hover {
    box-shadow: 0px 0px 20px 10px #FF9733;
}
#atom-link:hover {
    box-shadow: 0px 0px 20px 10px #50BA7F;
}
#visual-link:hover {
    box-shadow: 0px 0px 20px 10px #2986B8;
}
/* Add a color to the active/current link */
.topnav a.active {
    /* background-color: #4CAF50; */
    color: #4CAF50;
}
table, td, th {
    padding: 10px;
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}
p {
    margin: 50px;

}
.capture {
    float: right;
}
/* .pro-con{
    float:left
} */